@import url(./__list/intro__list.css);
@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__cell/intro__cell.css);
@import url(./__cell-text/intro__cell-text.css);

.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 92px auto;
}