.cover__background {
    position: absolute;
    top: auto;
    left: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 320px) {
    .cover__background {
        max-width: 320px;
    }
}