.places__website {
    grid-area: website;
    align-self: end;
    margin: 0;
}

/* вроде в грид сетке его не указываем, но навсякий случай скроем
вебссылку не отображаем до выстраивания в сетку*/
@media screen and (max-width: 690px) {
    .places__website {
        display: none;
    }
}